<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828152655111-kqh94ul6shb2onndssg9bnivohnbn0te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828152655111-kqh94ul6shb2onndssg9bnivohnbn0te</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828152655111-c5f1h8eimmugohlmj3oihuq1s3s96aug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3DiGFaL2pUR_KRatKs9lh7rADF12NisA</string>
	<key>GCM_SENDER_ID</key>
	<string>828152655111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julesdebbaut.foodica</string>
	<key>PROJECT_ID</key>
	<string>foodica-9743c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodica-9743c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828152655111:ios:0929b4bb8c1913b2a329a2</string>
	<key>DATABASE_URL</key>
	<string>https://foodica-9743c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>